Source: pixelpulse2
Section: electronics
Priority: extra
Maintainer: Ian Daniher <it.daniher@itdaniher.com>
Build-Depends: libudev-dev, libusb-1.0-0-dev (>=1.0.10), debhelper (>= 8.0.0), libqt5quick5, qt5-qmake, pkg-config, cdbs, qtdeclarative5-dev, qtbase5-dev
Standards-Version: 3.9.4
Homepage: https://analog.com
Vcs-Git: https://github.com/analogdevicesinc/pixelpulse2.git
Vcs-Browser: https://github.com/analogdevicesinc/pixelpulse2

Package: pixelpulse2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qml-module-qtquick2, qml-module-qtquick-window2, qml-module-qtquick-controls, qml-module-qtquick-layouts
Description: User interface for analog systems exploration.
