#!/usr/bin/make -f
APPNAME := pixelpulse2
build/Makefile:
	mkdir build && cd build && qmake ..
clean:
	dh_testdir
	dh_testroot
	# Add here commands to clean up after the build process.
	rm -rf build
build: build/Makefile
	dh_testdir
	cd build && make
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	# Add here commands to install the package into debian/your_appname
	cd build && $(MAKE) INSTALL_ROOT=$(CURDIR)/debian/$(APPNAME) install
# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_installudev
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 
